:root {
  /* Colors */
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --white: #ffffff;
  --green-500: #3d8168;
  --green-700: #1a4032;

  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-1600: 128px;

  /* Fonts */
  --font-size-xsm: 12px;
  --font-size-sm: 13px;
  --font-size-md: 14px;
  --font-size-lg: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: var(--spacing-50); */
  min-height: 100vh;
  background-color: var(--cream);
}

.product-card {
  display: flex;
  width: 95%;
  max-height: 750px;
  max-width: 600px;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
}

.product-image {
  /* width: 100%; */
  min-width: 50%;
  height: auto;
  /* min-height: 300px; */
  overflow: hidden;
  object-fit: cover;
  object-position: center 30%;
}

.product-info {
  padding: var(--spacing-400);
}

.tag {
  font-family: montserrat;
  text-transform: uppercase;
  font-size: var(--font-size-md);
  letter-spacing: 5px;
  line-height: 120%;
  font-weight: 500;
  color: var(--grey);
}

.product-name {
  font-family: fraunces;
  font-size: var(--font-size-lg);
  line-height: 100%;
  font-weight: 700;
  margin: var(--spacing-300) 0;
  color: var(--black);
}

.product-description {
  font-family: montserrat;
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: 160%;
  color: var(--grey);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.product-price {
  margin: var(--spacing-400) 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.current-price {
  font-family: fraunces;
  color: var(--green-500);
  font-size: var(--font-size-lg);
  line-height: 100%;
  font-weight: 700;
  margin-right: var(--spacing-200);
}

.original-price {
  display: inline-block;
  color: var(--grey);
  text-decoration: line-through;
  font-family: montserrat;
  font-size: var(--font-size-sm);
  line-height: 120%;
  color: var(--grey);
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
  background-color: var(--green-500);
  color: var(--white);
  font-family: montserrat;
  font-size: var(--font-size-md);
  font-weight: 500;
  padding: var(--spacing-100) var(--spacing-200);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: var(--green-700);
}

.attribution {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .product-card {
    flex-direction: column;
    /* height: 750px; */
  }
}
